* { box-sizing: border-box;}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}

.container * {
    /* border: 1px solid magenta; */
}

/* =============
      GENERAL
   ============= */

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 660px;
    box-shadow: 0 0 5px rgb(53, 53, 53);
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto;
}

header, 
footer {
    display: flex;
    padding: 10px;
}

/* =============
       HEADER
   ============= */

header {
    justify-content: space-between;
}

.icon-header {
    width: 1.8em;
    object-fit: cover;
}

.icon-profile {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}


.logo {
    width: 60px;
    height: 30px;
}

/* =============
       MAIN
   ============= */

.dog-data {
    height: 510px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
}

#img-dog {
    height: 500px;
    border-radius: 10px;
}

.dog-data h1,
.dog-data p {
    position: relative;
    bottom: 30%;
    left: 10px;
    margin: 0 0 3px;
    width: 90%;
}

.dog-data p {
    color: #e5e4e4;
}

/* Liked Or Disliked */

.badge {
    position: relative;
    width: 150px;
    transform: rotate(-40deg);
    left: 10px;
    top: -450px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* =============
       FOOTER
   ============= */

footer {
    margin: 0 auto;
    width: 200px;
    justify-content: space-evenly;
}

button {
    background: transparent;
    border: none;
}

.icon-footer {
    width: 80px;
    background-color: white;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0 0 5px #B7B7B7;
}

.icon-heart,
.icon-cross {
    width: 60px;
}

.icon-heart:hover,
.icon-header:focus {
    background-color: #DBFFF4;
}

.icon-cross:hover,
.icon-cross:focus {
    background-color: #FFE7EF;
}

/* Show match */

.result {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding-top: 7em;
    height: 100%;
}

.show-match {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ascent {
    color: palevioletred;
    display: block;
    font-size: 2em;
    font-family: 'Freehand', cursive;
}

.match {
    width: 170px;
    height: 170px;
    border: 5px solid palevioletred;
    border-radius: 100%;
    object-fit: cover;
}

.self {
    margin-right: -5px;
}

.partner {
    margin-left: -5px;
}

#try-again {
    /* padding: 1em 2em; */
    /* background-color: paleturquoise;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600; */
    width: 250px;
    border-radius: 10px;
    margin-top: 2em;
}

#try-again:hover,
#try-again:focus {    
    background-color: rgb(119, 222, 222);
}






